
.header-title {
    color: #000000;
    font-size: 30;
    text-align: center;
    margin-bottom: 20px;
    font-family: Merriweather;
}
.header-description{
    font-size: 18;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 10px;
    font-family: Montserrat;
}
.label{
    font-weight: bold;
}
.dropdown{
    display: inline-block;
    width: 100%;
    margin-top: 2%;
}
.filter{
    width:100%;
    margin-left: 3%;
    margin-right: 3%;
}
.filter2{
    width:100%;
    margin-right: 2%;
}
.mapHeader{
    display: block;
    margin-bottom:0;
    background: #F7F3F2;
    width: 50%;
    padding: 0.5%;
}
.filtersRow2{
    display: flex;
    width: 50%;
    justify-content: start;
    padding: 0.5%;
    background: #F7F3F2;
}
.filtersRow1 {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 10px;
    background: #F7F3F2;
}
.part2-header{
    padding: 15px;
    background: #E4E0DF;
}
.graph-title{
    text-align:center;
    margin-bottom:0;
    font-weight: normal;
    font-size: 24px;
}
.subtitle{
    text-align: center;
    font-weight:normal;
    font-size: 13px;
    font-family: Montserrat;

}
.preterm_graph{
    display: inline-block;
    width: 50%;
    height: 80%;
}
.illness_graph{
    display: inline-block;
    width: 50%;
    height: 80%;
}
.childgraph{
    display: inline-block;
    width: 50%;
    height: 80%;
}
.incomegraphs{
    display: inline-block;
    width: 50%;
    height: 80%;
}
.sankeygraphs{
    display: inline-block;
    width: 33.3%;
    height: 60%;
}
