
.header-title {
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    font-family: Merriweather;
}
.header-description{
    font-size: 14px;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 20px;
    font-family: Montserrat;
}
.label{
    font-weight: bold;
    font-family: Merriweather;
    font-size:14px;
}
.dropdown{
    display: inline-block;
    width: 100%;
    margin-top: 2%;
}
.filter {
    justify-content: inline-block;
    width:100%;
    margin-left: 3%;
    margin-right: 3%;
}
.filter2{
    justify-content: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    flex: 0 0 27%;
}
.filtersRow1 {
    display: flex;
    width: 100%; 
    justify-content: space-evenly;
    padding: 0.5%;
    background: #F7F3F2;
}
.mapHeader {
    display: block;
    margin-bottom:0;
    background: #F7F3F2;
    width: 100%;
    padding: 0.5%;
    text-align: center;
    font-size: 20px;
}
.filtersRow2{
    background: #F7F3F2;
    display: flex;
    justify-content: start;
    padding: 0.5%;
}
.part2-header{
    padding: 15px;
    background: #E4E0DF;
}
.graph-title{
    text-align:center;
    margin-bottom:0;
    font-weight: normal;
    font-size: 24px;
}
.subtitle{
    text-align: center;
    font-weight:normal;
    font-size: 13px;
    font-family: Montserrat;
}
.income-graph{
    display: inline-block;
    width: 50%;
    height: 80%;
}
.row2-graph{
    display: inline-block;
    width: 50%;
}
.extra-title{
    color: #000000;
    font-size: 30;
    text-align: center;
    padding: 0.5%;
    background: #F7F3F2;
    width: 100%;
    float: right;
    display: inline-block;
    font-family: Merriweather;
}
.preterm{
    float: right;
    width: 100%;
    margin-top: 0%;
    vertical-align:top;
    text-align: center;
    display: inline-block;

}
.edu{
    float: left;
    width: 50%;
    display: inline-block;
}
