.header-title {
    color: #000000;
    font-size: 50;
    text-align: center;
    margin-bottom: 20px;
}
.header-description{
    font-size: 20;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 10px;
}
.subheader2-title{
    color: #000000;
    font-size: 30;
    text-align: center;
    padding: 0.5%;
    background: #F7F3F2;
    width: 100%;
}
.subheader-title{
    color: #000000;
    font-size: 30;
    text-align: center;
    padding: 0.5%;
    background: #F7F3F2;
    width: 100%;
    display: block;
    margin-bottom: 0;
}
.extra-title{
    color: #000000;
    font-size: 30;
    text-align: center;
    padding: 0.5%;
    background: #F7F3F2;
    width: 50%;
    float: right;
}
.small-title{
    text-align: center;
    font-weight: normal;
}
.smaller-title{
    text-align: center;
    font-weight: normal;
    font-size: 20;
}
.label{
    font-weight: bold;
}
.dropdown{
    width:  100%;
    margin-top: 5px;
}
.all_filters{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0.5%;
    background: #F7F3F2;
}
.filter{
    width: 30%;
}
.filter2{
    width: 100%;
    margin-right: 2%;
}
.map_filters{
    display: flex;
    width: 50%;
    justify-content: start;
    padding: 0.5%;
    background: #F7F3F2;
}
.transport{
    display: inline-block;
    width: 50%;
}
.preterm{
    display: inline-block;
    width: 50%;
    margin-top: 0%;
    vertical-align:top;
    text-align: center;
}
.income{
    display: inline-block;
    width: 50%;
}
.childcare{
    display: inline-block;
    width: 50%;
}
.sankey{
    display: inline-block;
    width: 33%;
}.small-title{
    text-align: center;
    font-weight: normal;
}
.left-title{
    text-align: center;
    font-weight: normal;
    display: inline-block;
    justify-content: center;
}
.smallerleft-title{
    text-align: center;
    font-weight: normal;
    font-size: 20;
    display: inline-block;
}